/* debug */

/* #header{
    background-color:yellow;
}

main{
  background-color: green;  
}

#blocco_uno{
    background-color: pink;
}
#blocco_due{
    background-color: grey;

}

#blocco_tre{
    background-color: lightsalmon;
}

#footer{
    height: 100px;
    background-color: magenta;
} */

/* /debug */

/* impostazioni reset */
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
/* /impostazioni reset */

/* tag generici */
body {
    font-family: 'Nerko One', cursive;
    background-color: #add8e6;
}

header {
    height: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

main {
    text-align: center;
    width: 50%;
    margin: auto;
}

h1 {
    text-shadow: 1px 1px black;
    text-transform: uppercase;
    color: white;
    font-size: 90px;
}
h2 {
    color: #e61986;
    font-size:27px;
    visibility: hidden;
}

img {
    margin-top: 10px;
    width: 180px;
    height: 160px;
    object-fit: contain;
    visibility: hidden;
}

footer {
    text-align: center;
    font-size: 20px;
}

/* id blocchi con tessere */
#blocco_uno,
#blocco_due,
#blocco_tre {
    margin-bottom: 30px ;
}

/* id immagine e titolo sempre girati */
#tessera_girata {
    visibility: visible;
}
#titolo_girato {
    visibility: visible;
}

/* classi */


.tessera {
    margin-left: 20px;
    margin-top: 10px ;
    border-radius: 10px;
    float: left;
    background-image: url(../img/pattern.png);
    background-size: 100% 58%;
    height: 92%;
    width: 22%;
}

/* tessera girata */
.tessera_senza_sfondo {
    margin-left: 20px;
    margin-top: 10px ;
    border-radius: 10px;
    float: left;
    background-color:white ;
    background-size: 100% 58%;
    height: 92%;
    width: 22%;
}

.tessera:hover {
    background-image: none;
    background-color: white;
}
.tessera:hover img {
    visibility: visible;
}
.tessera:hover h2 {
    color: #e67919;
    visibility: visible;
}

/* clearfix */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* /classi */